<p>
  The material taught in this module was developed by members of the <a href="http://www.cbio.uct.ac.za/">Computational Biology lab </a> at The University of Cape Town.
  Its target audience is researchers who have little to no prior experience with 16S rRNA gene amplicon sequencing data, 
  who wish to perform downstream analyses in R on an ASV table produced using dada2. 
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

