<p>
  The material taught in this module was developed by members of the <a href="http://www.cbio.uct.ac.za/">Computational Biology lab </a> at The University of Cape Town.
  Its target audience is researchers who have a basic understanding of 16S rRNA gene amplicon sequencing data, 
  who wish to perform a) preprocessing of 16S rRNA amplicon sequencing using a dada2 pipeline implemented in Nextflow and b) downstream analyses in R using an ASV table produced with <a href="https://benjjneb.github.io/dada2/">dada2 </a> as input.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

