<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	    <td>Before starting</td>
	    <td><a href="https://datacarpentry.org/R-ecology-lesson/00-before-we-start.html">Before we start </a></td>
      </tr>
      <tr><td>09:00</td> <td>Introduction</td></tr>
      <tr><td>10:00</td> <td><a href="https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R</a> </td></tr>
       <tr><td>10:45</td> <td>Tea time!</td></tr>
        <tr><td>11:00</td> <td><a href="https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R</a> </td></tr>
        <tr><td>12:00</td> <td><a href="https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with data</td></tr>
      <tr><td>12:30</td> <td>Lunch</td></tr>
      <tr><td>13:30</td><td><a href="https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with data</a></td></tr>
       <tr><td>15:00</td> <td>Tea time!</td></tr>
      <tr><td>15:15</td> <td>Introduction to the R packages dplyr and tidyr</td></tr>
      <tr><td>15:30</td><td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating data frames</a></td></tr>
      <tr><td>16:00</td><td>Wrap up</td></tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2</h3>
    <table class="table table-striped">
    <tr><td>09:00</td><td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating data frames</a></td></tr>
      <tr> <td>10:00</td> <td>Background presentation: plotting in R with ggplot</td></tr>
      <tr><td>10:45</td><td>Tea time!</td></tr>
      <tr><td>11:00</td><td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Visualizing data in R</a></td></tr>
       <tr><td>12:30</td><td>Lunch</td></tr>
      <tr><td>13:30</td><td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Visualizing data in R</a></td></tr>
      <tr><td>15:00</td><td>Tea time!</td></tr>
      <tr><td>16:00</td><td>Wrap up</td></tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td><td>ANIMA: Adventures in R-land and beyond</td></tr>
      <tr><td>10:45</td><td>Tea time!</td></tr>
      <tr><td>11:00</td><td><a href="http://swcarpentry.github.io/r-novice-inflammation/06-best-practices-R/index.html">Best practices for writing R code </a></td></tr>
      <tr><td>11:15</td><td><a href="http://swcarpentry.github.io/r-novice-inflammation/02-func-R/index.html">Creating functions </a></td></tr>	    
      <tr><td>11:45</td><td><a href="http://swcarpentry.github.io/r-novice-inflammation/04-cond/index.html">Loops and conditionals</a></td></tr>
      <tr><td>12:30</td><td>Lunch</td></tr>
      <tr><td>13:30</td><td>Questions and wrap-up</td></tr>
      <tr><td>14:00</td><td>Work on your own data (optional)</td></tr>
      <tr><td>16:00</td><td>END</td></tr>
  </table>
  </div>   
</div>
