<p>
    <ul>
      <li>
          <a href="https://github.com/grbot/16S-rDNA-dada2-pipeline">Running dada2 in parallel as a Nextflow pipeline</a>
        </li>
       <li>Importing dada2 ASV tables and sample data in R </li>
      <li>Exploratory analysis: alpha- and beta-diversity, barplots, heatmaps</li>
      <li>Differential abundance testing using <a href="http://www.cbcb.umd.edu/software/metagenomeSeq"> metagenomeSeq</a></li>
      <li>Identifying factors associated with changes in microbiota composition using PERMANOVA (R package <a href="http://cc.oulu.fi/~jarioksa/opetus/metodi/vegantutor.pdf"> vegan</a>)</li>  
    </ul>
  </p>
  
