<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-r">Introduction to R</h3>
    <ul>
      <li><a href="http://swcarpentry.github.io/r-novice-inflammation/09-supp-intro-rstudio/index.html">Introduction to RStudio</a></li>
      <li>Objects, functions and data types </li>
      <li>Importing data into R as dataframes: subsettting, indexing </li>
      <li>Factor variables in R </li>
      <li>Manipulating, analyzing and exporting dataframes with tidyverse</li>
      <li>Visualising data in R</li>
      <li><a href="{{site.dc_pages}}/R-ecology-lesson/reference">Reference...</a></li>
    </ul>
  </div>
  
  <div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-r">Programming principles in R</h3>
    <ul>
      <li>Best practices for writing R code</li>
      <li>Creating functions</li>
      <li>Loops and conditionals</li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>

